In [1]:
import pandas as pd
import pandasql as ps

In [2]:
file_name = "files/Technical case study for Fatima Zain.xlsx"
sheet_type = "xlsx"
sheet_name = "Data dump"

In [3]:
if sheet_type == "xlsx":
    df = pd.read_excel(file_name,sheet_name=sheet_name)
elif sheet_type == "csv":
    df = pd.read_csv(file_name)

In [4]:
dtypes = df.dtypes

In [17]:
dtype_string = "<ul>"
for index, value in dtypes.items():
    dtype_string = dtype_string + "<li> "+str(index)+": "+str(value)+"</li>"
    
dtype_string = dtype_string+"</ul>"

<ul><li> Order Id: object</li><li> Customer Id: object</li><li> Order Amount (Rs): float64</li><li> Product Name: object</li><li> Category: object</li><li> Sub Category: object</li><li> Time Stamp: object</li><li> Product Quantity: int64</li><li> Cummulative Price: float64</li><li> SKU: object</li><li> User name: object</li><li> Customer Phone: float64</li><li> City: object</li><li> Area: object</li><li> Shop: object</li><li> Lat: object</li><li> Long: object</li></ul>

In [5]:
df

,Order Id,Customer Id,Order Amount (Rs),Product Name,Category,Sub Category,Time Stamp,Product Quantity,Cummulative Price,SKU,User name,Customer Phone,City,Area,Shop,Lat,Long
0,-MCX2dE86xGqxpPZ6PaZ,-MC6tHeONh7-NGPvnCsB,1030.00,Meezan,Kitchen,Oil and Ghee,Sat Jul 18 18:13:09 GMT+05:00 2020,1,1030.00,Meezan - Cooking Oil (1 Ltr. x 5),Rehan,3.326713e+09,Karachi,Shah Faisal,Siddique brothers,24.8818288,67.1602295
1,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Football matches,Home Care,Miscellaneous,Sat Jul 18 18:30:26 GMT+05:00 2020,5,375.00,Football matches - (1 danda of 20 boxes),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
2,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Slice,Beverages,Juices,Sat Jul 18 18:30:26 GMT+05:00 2020,2,860.00,Slice - (250 ml x 24),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
3,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Ariel,Home Care,Detergents,Sat Jul 18 18:33:21 GMT+05:00 2020,1,131.25,Ariel - (500 g),Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,NaN,24.884888,67.199524
4,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Dettol,Personal Care,Soaps,Sat Jul 18 18:33:21 GMT+05:00 2020,2,74.00,Dettol - Soap - (Rs 40) - Blue,Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,NaN,24.884888,67.199524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784,-MCr6iuIOg0vPuVoQRSn,-MCr0U3M-63E3rypk1BJ,105.00,Bravo,Confectionary,Cookies,Wed Jul 22 20:23:02 GMT+05:00 2020,1,105.00,Bravo - (Rs 10 x 12),Safdar ali,3.214055e+09,Lahore,Mughalpura,Madina store,31.5641391,74.394894
4785,-MCr7HoPIfJIXfmvU7Yi,-MBxf2fmKXJM03aq2amq,670.00,Pepsi drinks,Beverages,Soft Drinks,Wed Jul 22 20:25:32 GMT+05:00 2020,2,670.00,Pepsi - (Buddy Pack) - (300 ml x 12),rashid,3.138162e+09,Karachi,Malir,mamo store,12.211181829955914,38.67183644324541
4786,-MCL3CGD9BRzTFbEsW7R,-MCL2cGOOr6_n3gj5PwN,338.00,Everyday,Kitchen,Tea Whitener,Thu Jul 23 10:25:55 GMT+05:00 2020,2,338.00,Everyday - Powder - (12 sachets ki lari) - (Rs...,Aslam,3.488344e+09,Karachi,Mosumyaat,Al haseeb general store,24.9489864,67.1345922
4787,-MCL9US5VyyDGM6QozBR,-MCIMtu5QbpqewTV-ycf,432.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:25 GMT+05:00 2020,6,432.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771
4788,-MCL9YLCshaR69g9msiV,-MCIMtu5QbpqewTV-ycf,144.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:40 GMT+05:00 2020,2,144.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771

In [1]:
import pandas as pd
import pandasql as ps

In [22]:
file_name = "files/case study.xlsx"
sheet_type = "xlsx"
sheet_name = "Data dump"

In [23]:
xl = pd.ExcelFile(file_name)

xl.sheet_names  # see all sheet names

['Tasks', 'Returns', 'Orders', 'Managers']

NameError: name 'q1' is not defined

In [4]:
if sheet_type == "xlsx":
    df = pd.read_excel(file_name,sheet_name=sheet_name)
elif sheet_type == "csv":
    df = pd.read_csv(file_name)

In [5]:
df.dtypes

Order Id              object
Customer Id           object
Order Amount (Rs)    float64
Product Name          object
Category              object
Sub Category          object
Time Stamp            object
Product Quantity       int64
Cummulative Price    float64
SKU                   object
User name             object
Customer Phone       float64
City                  object
Area                  object
Shop                  object
Lat                   object
Long                  object
dtype: object

In [25]:
df.columns

Index(['Order Id', 'Customer Id', 'Order Amount (Rs)', 'Product Name',
       'Category', 'Sub Category', 'Time Stamp', 'Product Quantity',
       'Cummulative Price', 'SKU', 'User name', 'Customer Phone', 'City',
       'Area', 'Shop', 'Lat', 'Long'],
      dtype='object')

In [24]:
def replaceKeywords(keyword_list,text,color):
    for k in keyword_list:
        if k in text:
            text = text.replace(k,'<span style="color:'+color+'">'+k+'</span>')
    return text
sqllite_keywords = ['ABORT', 'ACTION', 'ADD', 'AFTER', 'ALL', 'ALTER', 'ALWAYS', 'ANALYZE', 'AND', 'AS', 'ASC', 'ATTACH', 'AUTOINCREMENT', 'BEFORE', 'BEGIN', 'BETWEEN', 'BY', 'CASCADE', 'CASE', 'CAST', 'CHECK', 'COLLATE', 'COLUMN', 'COMMIT', 'CONFLICT', 'CONSTRAINT', 'CREATE', 'CROSS', 'CURRENT', 'CURRENT_DATE', 'CURRENT_TIME', 'CURRENT_TIMESTAMP', 'DATABASE', 'DEFAULT', 'DEFERRABLE', 'DEFERRED', 'DELETE', 'DESC', 'DETACH', 'DISTINCT', 'DO', 'DROP', 'EACH', 'ELSE', 'END', 'ESCAPE', 'EXCEPT', 'EXCLUDE', 'EXCLUSIVE', 'EXISTS', 'EXPLAIN', 'FAIL', 'FILTER', 'FIRST', 'FOLLOWING', 'FOR', 'FOREIGN', 'FROM', 'FULL', 'GENERATED', 'GLOB', 'GROUP', 'GROUPS', 'HAVING', 'IF', 'IGNORE', 'IMMEDIATE', 'IN', 'INDEX', 'INDEXED', 'INITIALLY', 'INNER', 'INSERT', 'INSTEAD', 'INTERSECT', 'INTO', 'IS', 'ISNULL', 'JOIN', 'KEY', 'LAST', 'LEFT', 'LIKE', 'LIMIT', 'MATCH', 'NATURAL', 'NO', 'NOT', 'NOTHING', 'NOTNULL', 'NULL', 'NULLS', 'OF', 'OFFSET', 'ON', 'OR', 'ORDER', 'OTHERS', 'OUTER', 'OVER', 'PARTITION', 'PLAN', 'PRAGMA', 'PRECEDING', 'PRIMARY', 'QUERY', 'RAISE', 'RANGE', 'RECURSIVE', 'REFERENCES', 'REGEXP', 'REINDEX', 'RELEASE', 'RENAME', 'REPLACE', 'RESTRICT', 'RIGHT', 'ROLLBACK', 'ROW', 'ROWS', 'SAVEPOINT', 'SELECT', 'SET', 'TABLE', 'TEMP', 'TEMPORARY', 'THEN', 'TIES', 'TO', 'TRANSACTION', 'TRIGGER', 'UNBOUNDED', 'UNION', 'UNIQUE', 'UPDATE', 'USING', 'VACUUM', 'VALUES', 'VIEW', 'VIRTUAL', 'WHEN', 'WHERE', 'WINDOW', 'WITH', 'WITHOUT']

<span style="color:blue">SELECT</span> * <span style="color:blue">FROM</span> Data_dump

In [21]:
sql_formatted = (sqlparse.format(q1, reindent=True, keyword_case='upper'))
sql_formatted

'SELECT *\nFROM Data_dump'

In [28]:
sqlparse.format(q1, reindent=True, keyword_case='upper')

'SELECT *\nFROM Data_dump'

SyntaxError: invalid syntax (<ipython-input-6-4ebd1a35f9cf>, line 1)

In [25]:
sqlparse.format(q1, reindent=True, keyword_case='upper')

'SELECT *\nFROM Data_dump'

In [99]:
globals()[sheet_name]=df

In [20]:
locals()["Data_dump"]=df.copy()

In [4]:
q1 = """SELECT * FROM Data_dump """
#q1 = q1.replace("__SHEET_NAME__","df")
result = ps.sqldf(q1, locals())
print(q1)
result

PandaSQLException: (sqlite3.OperationalError) no such table: Data_dump
[SQL: SELECT * FROM Data_dump ]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [120]:
dtest

,Order Id,Customer Id,Order Amount (Rs),Product Name,Category,Sub Category,Time Stamp,Product Quantity,Cummulative Price,SKU,User name,Customer Phone,City,Area,Shop,Lat,Long
0,-MCX2dE86xGqxpPZ6PaZ,-MC6tHeONh7-NGPvnCsB,1030.00,Meezan,Kitchen,Oil and Ghee,Sat Jul 18 18:13:09 GMT+05:00 2020,1,1030.00,Meezan - Cooking Oil (1 Ltr. x 5),Rehan,3.326713e+09,Karachi,Shah Faisal,Siddique brothers,24.8818288,67.1602295
1,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Football matches,Home Care,Miscellaneous,Sat Jul 18 18:30:26 GMT+05:00 2020,5,375.00,Football matches - (1 danda of 20 boxes),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
2,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Slice,Beverages,Juices,Sat Jul 18 18:30:26 GMT+05:00 2020,2,860.00,Slice - (250 ml x 24),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
3,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Ariel,Home Care,Detergents,Sat Jul 18 18:33:21 GMT+05:00 2020,1,131.25,Ariel - (500 g),Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,NaN,24.884888,67.199524
4,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Dettol,Personal Care,Soaps,Sat Jul 18 18:33:21 GMT+05:00 2020,2,74.00,Dettol - Soap - (Rs 40) - Blue,Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,NaN,24.884888,67.199524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784,-MCr6iuIOg0vPuVoQRSn,-MCr0U3M-63E3rypk1BJ,105.00,Bravo,Confectionary,Cookies,Wed Jul 22 20:23:02 GMT+05:00 2020,1,105.00,Bravo - (Rs 10 x 12),Safdar ali,3.214055e+09,Lahore,Mughalpura,Madina store,31.5641391,74.394894
4785,-MCr7HoPIfJIXfmvU7Yi,-MBxf2fmKXJM03aq2amq,670.00,Pepsi drinks,Beverages,Soft Drinks,Wed Jul 22 20:25:32 GMT+05:00 2020,2,670.00,Pepsi - (Buddy Pack) - (300 ml x 12),rashid,3.138162e+09,Karachi,Malir,mamo store,12.211181829955914,38.67183644324541
4786,-MCL3CGD9BRzTFbEsW7R,-MCL2cGOOr6_n3gj5PwN,338.00,Everyday,Kitchen,Tea Whitener,Thu Jul 23 10:25:55 GMT+05:00 2020,2,338.00,Everyday - Powder - (12 sachets ki lari) - (Rs...,Aslam,3.488344e+09,Karachi,Mosumyaat,Al haseeb general store,24.9489864,67.1345922
4787,-MCL9US5VyyDGM6QozBR,-MCIMtu5QbpqewTV-ycf,432.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:25 GMT+05:00 2020,6,432.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771
4788,-MCL9YLCshaR69g9msiV,-MCIMtu5QbpqewTV-ycf,144.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:40 GMT+05:00 2020,2,144.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771

In [36]:
parsed.insert_after(1,parsed.tokens[2])

In [45]:
parsed.tokens

[<DML 'select' at 0x2188885ADC0>,
 <Whitespace ' ' at 0x2188885AB80>,
 <IdentifierList 'foo,abc' at 0x2188885CA50>,
 <IdentifierList 'foo,abc' at 0x2188885CA50>,
 <Whitespace ' ' at 0x2188883E040>,
 <Keyword 'from' at 0x2188883E0A0>,
 <Whitespace ' ' at 0x2188883E100>,
 <Identifier 'foo' at 0x2188885C900>,
 <Whitespace ' ' at 0x2188883E1C0>,
 <Keyword 'natura...' at 0x2188883E220>,
 <Whitespace ' ' at 0x2188883E280>,
 <Identifier 'boo' at 0x2188885C970>,
 <Whitespace ' ' at 0x2188883E340>,
 <Keyword 'on' at 0x2188883E3A0>,
 <Whitespace ' ' at 0x2188883E400>,
 <Comparison 'foo.a=...' at 0x2188885C9E0>]

In [95]:
parsed.tokens[0].is_keyword

True

In [109]:
isinstance(parsed.tokens[10],sqlparse.sql.Identifier)

True

In [113]:
p.is

TypeError: is_child_of() missing 1 required positional argument: 'other'

In [132]:


def addColor(p):
    txt = str(p)
    color = "black"
    
    if p.is_keyword or isinstance(p,sqlparse.sql.Where):    
        color = "blue"
        txt = txt.upper() 
    else:
        if str(p)=="*" or isinstance(p,sqlparse.sql.Identifier):
            color="black"
        else:
            color = "red"

        
    
    return ' <span style = "color:'+color+';">'+txt+'</span>'

def sqlHighlighter(query):
    ans = ""
    parsed = sqlparse.parse(query)[0]
    
    for p in parsed.tokens:
        print(type(p))

        ans = ans +addColor(p)
    return ans

In [133]:
sqlHighlighter("""select * from Data_dump where "Product Name"="Meezan" group by "Order Id" having "Order Amount (Rs)">10;""")

<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Identifier'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Where'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Identifier'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Token'>
<class 'sqlparse.sql.Comparison'>
<class 'sqlparse.sql.Token'>

' <span style = "color:blue;">SELECT</span> <span style = "color:black;"> </span> <span style = "color:red;">*</span> <span style = "color:black;"> </span> <span style = "color:blue;">FROM</span> <span style = "color:black;"> </span> <span style = "color:red;">Data_dump</span> <span style = "color:black;"> </span> <span style = "color:blue;">WHERE "PRODUCT NAME"="MEEZAN" </span> <span style = "color:blue;">GROUP BY</span> <span style = "color:black;"> </span> <span style = "color:red;">"Order Id"</span> <span style = "color:black;"> </span> <span style = "color:blue;">HAVING</span> <span style = "color:black;"> </span> <span style = "color:red;">"Order Amount (Rs)">10</span> <span style = "color:red;">;</span>'

In [29]:
#parsed.tokens[4]
#parsed.get_token_at_offset(14)
for p in parsed.get_sublists():
    print(p)

for p in parsed.flatten():
    print(p)

foo,abc
foo
boo
foo.a=boo.b
select

foo
,
abc

from

foo

natural join

boo

on

foo
.
a
=
boo
.
b

select

abc

from

foo

natural join

boo

on

foo
.
a
=
boo
.
b

In [28]:
q1 = """SELECT * FROM df """
result = ps.sqldf(q1, locals())

result

,Order Id,Customer Id,Order Amount (Rs),Product Name,Category,Sub Category,Time Stamp,Product Quantity,Cummulative Price,SKU,User name,Customer Phone,City,Area,Shop,Lat,Long
0,-MCX2dE86xGqxpPZ6PaZ,-MC6tHeONh7-NGPvnCsB,1030.00,Meezan,Kitchen,Oil and Ghee,Sat Jul 18 18:13:09 GMT+05:00 2020,1,1030.00,Meezan - Cooking Oil (1 Ltr. x 5),Rehan,3.326713e+09,Karachi,Shah Faisal,Siddique brothers,24.8818288,67.1602295
1,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Football matches,Home Care,Miscellaneous,Sat Jul 18 18:30:26 GMT+05:00 2020,5,375.00,Football matches - (1 danda of 20 boxes),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
2,-MCX6aVHEheZELsyitgf,-MCX47-3jQGSX1vapCf6,1235.00,Slice,Beverages,Juices,Sat Jul 18 18:30:26 GMT+05:00 2020,2,860.00,Slice - (250 ml x 24),mehtab,3.128378e+09,Karachi,Shah Faisal,masha ALLAH muneer store,24.8865489,67.1617055
3,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Ariel,Home Care,Detergents,Sat Jul 18 18:33:21 GMT+05:00 2020,1,131.25,Ariel - (500 g),Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,None,24.884888,67.199524
4,-MCX7GZnjgTOg0deWhIf,-MB8yKbEvTuATRNEyV8m,405.05,Dettol,Personal Care,Soaps,Sat Jul 18 18:33:21 GMT+05:00 2020,2,74.00,Dettol - Soap - (Rs 40) - Blue,Baba Jee General Store,3.158929e+09,Karachi,near markazi imam bargah jaffer tayyar,None,24.884888,67.199524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784,-MCr6iuIOg0vPuVoQRSn,-MCr0U3M-63E3rypk1BJ,105.00,Bravo,Confectionary,Cookies,Wed Jul 22 20:23:02 GMT+05:00 2020,1,105.00,Bravo - (Rs 10 x 12),Safdar ali,3.214055e+09,Lahore,Mughalpura,Madina store,31.5641391,74.394894
4785,-MCr7HoPIfJIXfmvU7Yi,-MBxf2fmKXJM03aq2amq,670.00,Pepsi drinks,Beverages,Soft Drinks,Wed Jul 22 20:25:32 GMT+05:00 2020,2,670.00,Pepsi - (Buddy Pack) - (300 ml x 12),rashid,3.138162e+09,Karachi,Malir,mamo store,12.211181829955914,38.67183644324541
4786,-MCL3CGD9BRzTFbEsW7R,-MCL2cGOOr6_n3gj5PwN,338.00,Everyday,Kitchen,Tea Whitener,Thu Jul 23 10:25:55 GMT+05:00 2020,2,338.00,Everyday - Powder - (12 sachets ki lari) - (Rs...,Aslam,3.488344e+09,Karachi,Mosumyaat,Al haseeb general store,24.9489864,67.1345922
4787,-MCL9US5VyyDGM6QozBR,-MCIMtu5QbpqewTV-ycf,432.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:25 GMT+05:00 2020,6,432.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771
4788,-MCL9YLCshaR69g9msiV,-MCIMtu5QbpqewTV-ycf,144.00,Lifebuoy Shampoo,Personal Care,Shampoo,Thu Jul 23 22:47:40 GMT+05:00 2020,2,144.00,Lifebuoy Shampoo - (16 sachets ki lari) - Green,M.Waqar,3.422174e+09,Karachi,Shah Faisal,Danish Brothers Jernal and Toys Shop,24.883398,67.1618771

In [27]:
result = ps.sqldf(q1, locals())


res_html = result.to_html(max_rows=5)

In [18]:
result.to_html()

NameError: name 'result' is not defined

In [29]:
print(res_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Order Id</th>
      <th>Customer Id</th>
      <th>Order Amount (Rs)</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Sub Category</th>
      <th>Time Stamp</th>
      <th>Product Quantity</th>
      <th>Cummulative Price</th>
      <th>SKU</th>
      <th>User name</th>
      <th>Customer Phone</th>
      <th>City</th>
      <th>Area</th>
      <th>Shop</th>
      <th>Lat</th>
      <th>Long</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-MCX2dE86xGqxpPZ6PaZ</td>
      <td>-MC6tHeONh7-NGPvnCsB</td>
      <td>1030.0</td>
      <td>Meezan</td>
      <td>Kitchen</td>
      <td>Oil and Ghee</td>
      <td>Sat Jul 18 18:13:09 GMT+05:00 2020</td>
      <td>1</td>
      <td>1030.0</td>
      <td>Meezan - Cooking Oil (1 Ltr. x 5)</td>
      <td>Rehan</td>
      <td>3.326713e+09</td>
      <td>Karachi</td>
      <td>Shah Faisal</td>
      <td>Siddique brothers</td>
      <td>24.8818288</td>
      <td>67.1602295</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-MCX6aVHEheZELsyitgf</td>
      <td>-MCX47-3jQGSX1vapCf6</td>
      <td>1235.0</td>
      <td>Football matches</td>
      <td>Home Care</td>
      <td>Miscellaneous</td>
      <td>Sat Jul 18 18:30:26 GMT+05:00 2020</td>
      <td>5</td>
      <td>375.0</td>
      <td>Football matches - (1 danda of 20 boxes)</td>
      <td>mehtab</td>
      <td>3.128378e+09</td>
      <td>Karachi</td>
      <td>Shah Faisal</td>
      <td>masha ALLAH muneer store</td>
      <td>24.8865489</td>
      <td>67.1617055</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>4787</th>
      <td>-MCL9US5VyyDGM6QozBR</td>
      <td>-MCIMtu5QbpqewTV-ycf</td>
      <td>432.0</td>
      <td>Lifebuoy Shampoo</td>
      <td>Personal Care</td>
      <td>Shampoo</td>
      <td>Thu Jul 23 22:47:25 GMT+05:00 2020</td>
      <td>6</td>
      <td>432.0</td>
      <td>Lifebuoy Shampoo - (16 sachets ki lari) - Green</td>
      <td>M.Waqar</td>
      <td>3.422174e+09</td>
      <td>Karachi</td>
      <td>Shah Faisal</td>
      <td>Danish Brothers Jernal and Toys Shop</td>
      <td>24.883398</td>
      <td>67.1618771</td>
    </tr>
    <tr>
      <th>4788</th>
      <td>-MCL9YLCshaR69g9msiV</td>
      <td>-MCIMtu5QbpqewTV-ycf</td>
      <td>144.0</td>
      <td>Lifebuoy Shampoo</td>
      <td>Personal Care</td>
      <td>Shampoo</td>
      <td>Thu Jul 23 22:47:40 GMT+05:00 2020</td>
      <td>2</td>
      <td>144.0</td>
      <td>Lifebuoy Shampoo - (16 sachets ki lari) - Green</td>
      <td>M.Waqar</td>
      <td>3.422174e+09</td>
      <td>Karachi</td>
      <td>Shah Faisal</td>
      <td>Danish Brothers Jernal and Toys Shop</td>
      <td>24.883398</td>
      <td>67.1618771</td>
    </tr>
  </tbody>
</table>

In [21]:
len(result)

100

In [75]:
q1 = """SELECT substr("Time Stamp",0,11) as Time,count("Order Id") as "Order Count",sum("Order Amount (Rs)") as "Order Amount Sum",count(distinct("Customer Id")) as "Unique Customers"  FROM df group by 1"""

print(ps.sqldf(q1, locals()))

         Time  Order Count  Order Amount Sum  Unique Customers
0  Mon Jul 20         1491      9.953879e+06               236
1  Sat Jul 18          356      7.477538e+06                40
2  Sun Jul 19          789      4.747407e+06               138
3  Thu Jul 23            3      9.140000e+02                 2
4  Tue Jul 21         1234      6.882254e+06               229
5  Wed Jul 22          916      7.202767e+06               182

In [76]:
q1 = """SELECT City,count("Order Id") as "Order Count",sum("Order Amount (Rs)") as "Order Amount Sum",count(distinct("Customer Id")) as "Unique Customers"  FROM df group by 1"""

print(ps.sqldf(q1, locals()))

      City  Order Count  Order Amount Sum  Unique Customers
0  Karachi         3328      2.938153e+07               384
1   Lahore         1461      6.883225e+06               217

In [77]:
q1 = """SELECT "SKU",sum("Product Quantity") as "Quantity"  FROM df where City = "Karachi" group by 1 order by 2 desc limit 20"""

print(ps.sqldf(q1, locals()))

                                                  SKU  Quantity
0              Sunsilk - (16 sachets ki lari) - Black       419
1               Bonus - (Rs 10) - (6 sachets ki lari)       411
2                              Tibet - Soap - (Rs 20)       355
3          Surf Excel - (Rs 10) - (6 sachets ki lari)       325
4            Football matches - (1 danda of 20 boxes)       258
5                                  Lemon Max - (Rs 8)       257
6                        Tibet - Super soap - (Rs 20)       222
7                           Tapal - Danedar - (Rs 20)       200
8                               Slice - (250 ml x 24)       177
9   Everyday - Powder - (12 sachets ki lari) - (Rs...       164
10                                Lemon Max - (Rs 12)       157
11                      Tarang - Milk - (225 ml x 27)       149
12                               Lemon Max - Long Bar       147
13                    Shan - (Rs 75) - Bombay Biryani       130
14                    Dettol - Soap - (Rs 40) - Green       129
15             Ariel - (Rs 10) - (12 sachets ki lari)       129
16                             Shan - (Rs 75) - Qorma       119
17    Lifebuoy Shampoo - (16 sachets ki lari) - Green       119
18                              Lux - (Rs 65) - White       117
19              Sunsilk - (16 sachets ki lari) - Pink       110

In [38]:
q1 = """SELECT "SKU",sum("Product Quantity")  FROM df where City = "Lahore" group by 1 order by 2 desc limit 20"""

print(ps.sqldf(q1, locals()))

                                           SKU  sum("Product Quantity")
0                         Rasily  - (24 Packs)                      172
1                   Coca Cola - (1.5 Ltr. x 6)                      155
2                     Chocolato - (Rs 10 x 12)                      146
3                       Tibet - Soap - (Rs 30)                      122
4               Cocomo Chocolate - (Rs 5 x 24)                      102
5                         Lemon Max - Long Bar                       87
6           Boom Boom Bubble Gum - (Rs 2 x 72)                       73
7                           Lemon Max - (Rs 8)                       72
8        Bonus - (Rs 10) - (6 sachets ki lari)                       69
9                    Coca Cola - (500 ml x 12)                       67
10                     Sprite - (1.5 Ltr. x 6)                       66
11  Prince Chocolate - Tiki Pack - (Rs 5 x 24)                       64
12                         Lemon Max - (Rs 13)                       63
13            Sooper - Half Roll - (Rs 20 x 6)                       58
14  Sooper Chocolate - Half Roll - (Rs 20 x 6)                       55
15                Tibet - Jumbo soap - (Rs 50)                       52
16    Lemon Sandwich - Half Roll - (Rs 20 x 6)                       48
17        Peanut Pik - Half Roll - (Rs 20 x 6)                       47
18                      Tibet - Soap - (Rs 40)                       44
19  Surf Excel - (Rs 10) - (6 sachets ki lari)                       43

In [43]:
q1 = """SELECT City,"User name",count(*)  FROM df where City = "Karachi" and "Customer Phone" is not null group by 1,2 order by 3 desc limit 20"""

print(ps.sqldf(q1, locals()))

       City             User name  count(*)
0   Karachi                 Uzair       103
1   Karachi   Maham General Store        97
2   Karachi             amjad ali        73
3   Karachi                 Saeed        64
4   Karachi                naveed        63
5   Karachi          abdullatifaa        60
6   Karachi                faizan        58
7   Karachi                 Usman        57
8   Karachi           Awan bakery        56
9   Karachi         Golden Bakers        55
10  Karachi            riaz ahmed        53
11  Karachi              Al Khair        52
12  Karachi                 hamza        52
13  Karachi                waheed        51
14  Karachi     Saleem Yousaf zai        43
15  Karachi         muhamad umiar        43
16  Karachi     Muhammed muzammil        39
17  Karachi          osija muslim        38
18  Karachi  Jaffar Tayyar bakery        37
19  Karachi               shakeel        37

In [44]:
q1 = """SELECT City,"User name",count(*)  FROM df where City = "Lahore" and "Customer Phone" is not null group by 1,2 order by 3 desc limit 20"""

print(ps.sqldf(q1, locals()))

      City                    User name  count(*)
0   Lahore                   rashid ali        45
1   Lahore                        Zahid        43
2   Lahore                        Ateeq        40
3   Lahore  Rao Akhtar- Al Maalik Store        40
4   Lahore                        Hamza        37
5   Lahore                        ahmad        33
6   Lahore                        Irfan        32
7   Lahore                       Kamran        32
8   Lahore                       afzaal        29
9   Lahore                       Farhan        28
10  Lahore                    Naveed Sb        28
11  Lahore                     Amir Ali        26
12  Lahore                       Khalid        26
13  Lahore                      yaqoob         25
14  Lahore                       Shahid        24
15  Lahore             Super stor onwer        24
16  Lahore                    m. yousaf        23
17  Lahore                        usman        22
18  Lahore                   Mujahid Sb        21
19  Lahore                       faisal        20

In [48]:
q1 = """SELECT substr("Time Stamp",0,11),"SKU",sum("Product Quantity")  FROM df 
where SKU = "Aquafina - (500 x 12)"
group by 1,2 limit 10"""

print(ps.sqldf(q1, locals()))

  substr("Time Stamp",0,11)                    SKU  sum("Product Quantity")
0                Mon Jul 20  Aquafina - (500 x 12)                        5
1                Sat Jul 18  Aquafina - (500 x 12)                        4
2                Tue Jul 21  Aquafina - (500 x 12)                        1

In [78]:
q1 = """select SKU,max(quant) as "Max",min(quant) as "Min",(max(quant)/min(quant))*100 as change from (SELECT  "SKU",substr("Time Stamp",0,11),sum("Product Quantity") as quant  FROM df 
group by 1,2) group by 1 order by change desc limit 20"""

print(ps.sqldf(q1, locals()))

                                                  SKU  Max  Min  change
0               Sunsilk - (16 sachets ki lari) - Pink   88    1    8800
1                  Boom Boom Bubble Gum - (Rs 2 x 72)   72    1    7200
2              Sunsilk - (16 sachets ki lari) - Green   71    1    7100
3                    Tapal - Family Mixture - (Rs 20)   64    1    6400
4              Sunsilk - (16 sachets ki lari) - Black  253    7    3600
5                           Lifebuoy - (Rs 45) - Blue   31    1    3100
6   Everyday - Powder - (12 sachets ki lari) - (Rs...   62    2    3100
7                          Coca Cola - (1.5 Ltr. x 6)   84    3    2800
8              Brite - (Rs 10) - (12 sachets ki lari)   26    1    2600
9                               Surf Excel - (1000 g)   23    1    2300
10            Sunsilk - (16 sachets ki lari) - Golden   23    1    2300
11                               Lux - (Rs 45) - Pink   23    1    2300
12                          Coca Cola - (500 ml x 12)   46    2    2300
13    Pakola - Milk - (250 ml x 12) - Zafran & Badaam   21    1    2100
14              Bonus - (Rs 10) - (6 sachets ki lari)  219   10    2100
15                           Tapal - Danedar - (95 g)   40    2    2000
16                             Sprite - (500 ml x 12)   20    1    2000
17                Lays - (Rs 10 x 64) - French Cheese   40    2    2000
18                               7up - (1.5 Ltr. x 6)   20    1    2000
19             Ariel - (Rs 10) - (12 sachets ki lari)   57    3    1900

In [79]:
q1 = """select  substr("Time Stamp",12,2),count(*) from df group by 1 order by 2 desc"""

print(ps.sqldf(q1, locals()))

   substr("Time Stamp",12,2)  count(*)
0                         12       590
1                         14       454
2                         16       428
3                         15       387
4                         13       342
5                         17       333
6                         11       308
7                         19       269
8                         20       239
9                         21       220
10                        18       219
11                        23       176
12                        22       173
13                        10       167
14                        09       116
15                        03       112
16                        00        82
17                        02        48
18                        01        41
19                        04        27
20                        07        26
21                        05        14
22                        08        11
23                        06         7

In [ ]:
shit itni jldi :p maine 4 krlia mai soch rha tha bonus bhi krlun XD 
    SHUKAR TIME PAR AGAYI hahahhahahah chlo now then lets compile it? yesssssssssssssssssssss